@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

@model ConsoleAppProject.App02.BMI
@{
    ViewData["Title"] = "MK BMI Calculator";
}

<html>
    <header>
        <h1> BMI Calculator </h1>
        <h2> by Martin Konecny </h2>
        <p>
            This app will use your body weight and height to calculate
            a BMI Index which can be used to classify your health risks
        </p>
    </header>

    <section>
        <form method="post">

            <h2> Height </h2>
            <p>
                Please input your current height in whole numbers using
                metric or imperial units
            </p>
            <p>

                <input type="number" placeholder="Feet"
                    value="6" asp-for="@Model.Feet" />

                <input type="number" placeholder="Inches"
                    value="0" asp-for="@Model.Inches" />
            </p>
            <p>
                <input type="number" placeholder="Centimetres"
                    asp-for="@Model.Centimetres" />
            </p>

            <h2> Weight </h2>
            <p>
                Please input your current weight in whole numbers using
                metric or imperial units
            </p>
            <p>

                <input type="number" placeholder="Stones"
                    value="11" asp-for="@Model.Stones" />

                <input type="number" placeholder="Pounds"
                    value="5" asp-for="@Model.Pounds" />
            </p>
            <p>
                <input type="number" placeholder="Kilograms"
                    asp-for="@Model.Kilograms" />
            </p>

            <p>
                <button class="btn-success" type="submit">Calculate</button>
            </p>

        </form>

    </section>
    <br />
    <br />
    <br />

    <style>
        .jumbotron {
            background-color: #1f1e1e;
        }

        body {
            background-color: #121212;
            font-family: 'Oswald';
        }

        body {
            color: #61457a
        }
    </style>

</html>